html {
    height: 100dvh;
    font-family: sans-serif;
}

body {
    height: 100%;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main {
    margin: auto auto;
}

footer {
    padding: 1.5rem;

    a {
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    img {
        height: 1.5rem;
        margin: 0 .25rem;
    }
}

.led {
    width: 4vmin;
    height: 4vmin;
    border: 1px solid black;
    border-radius: 50%;
    background-color: gray;
    margin: 1vmin 0;
}

#clock,
#hours,
#minutes,
#seconds {
    display: flex;
}

#hours,
#minutes,
#seconds {
    margin: 0 2vmin; 

    .tens-column {
        align-self: flex-end;
        margin: 0 1vmin;
    }
}

#clock {
    align-items: center;
    justify-content: center;
}

.number-eight {

}

.number-four {

}

.number-two {

}

.number-one {

}